.App {
  background-color: #3E3E5B;
  min-height: 100vh;
  width: 100%;
}

.login {
  text-align: center;
  background-color: #1E1E2E;
}

.login-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-header .logo-vcpmc {
  width: 240px;
  height: 240px;
}

.login-header>span {
  padding: 20px 10px 20px 0;
  font-weight: 700;
  font-size: 26px;
}

.input_info {
  width: 250px;
}

.input-valid {
  margin-right: 150px;
}

.input-valid .ant-form-item-explain-error {
  color: #ff4d4f;
  font-size: 10px;
}

.input-valid .ant-form-item-required {
  color: white !important;
}

.login_remember_info {
  color: white;
}

.login__button {
  background-color: #FF7506;
  margin: 0 0 0 15px;
  padding: 5px;
}

.icon__login_button {
  margin: 0px 10px -3px 0px;
  font-size: 17px;
  padding: 0 5px;
}

.logo-sidebar {
  width: 85px;
  height: 85px;
  margin: 0px 0 10px 65px;
}

.profile-basic-info {
  color: #F5F5FF;
  margin: 30px 0 0px 70px;
  position: absolute;
  font-weight: 700;
  font-size: 36px;
}

.img-profile {
  width: 240px;
  height: 240px;
  display: flex;
  margin: 120px 0px 0 100px;
  border-radius: 50%;
}

.user-profile-name {
  color: #F5F5FF;
  margin: 15px 0 0 170px;
  display: flex;
}

/* css for item of bootstrap */
.ant-form-item-feedback-icon-error{
  margin: 0px 0 8px 0;
}