.App {
  background-color: #3E3E5B;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.login {
  text-align: center;
  background-color: #1E1E2E;
}

.login-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-header .logo-vcpmc {
  width: 240px;
  height: 240px;
}

.login-header>span {
  padding: 20px 10px 20px 0;
  font-weight: 700;
  font-size: 26px;
}

.input_info {
  width: 250px;
}

.input-valid {
  margin-right: 150px;
}

.input-valid .ant-form-item-explain-error {
  color: #ff4d4f;
  font-size: 10px;
}

.input-valid .ant-form-item-required {
  color: white !important;
}

.login_remember_info {
  color: white;
}

.login__button {
  background-color: #FF7506;
  margin: 0 0 0 15px;
  padding: 5px;
}

.icon__login_button {
  margin: 0px 10px -3px 0px;
  font-size: 17px;
  padding: 0 5px;
}

.logo-sidebar {
  width: 85px;
  height: 85px;
  margin: 0px 0 10px 65px;
}

.card-body {
  flex: 1 1 auto;
  color: var(--bs-card-color);
  padding: 0px 25px !important;
}

.profile-basic-info {
  color: #F5F5FF;
  margin: 30px 0 0px 70px;
  position: absolute;
  font-weight: 700;
  font-size: 36px;
}

.img-profile {
  width: 240px;
  height: 240px;
  display: flex;
  margin: 120px 0px 0 100px;
  border-radius: 50%;
}

.user-profile-name {
  color: #F5F5FF;
  margin: 15px 0 0 170px;
  display: flex;
}

/* css for item of bootstrap */
.ant-form-item-feedback-icon-error,
.ant-form-item-feedback-icon-success {
  margin: 0px 0 8px 0;
}

.sidebar-item-container {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.navbar-item span {
  text-align: center;
  font-size: 13px;
}

.navbar-item_icon {
  font-size: 30px;
  padding: 0 0 5px 0;
}

.navbar-item:hover {
  background-color: #3E3E5B;
  border-radius: 20px;
}

.manage-data-table {
  /* width: 100%; */
  padding: 50px 0 0 0;
}

.manage-data-table-container {
  background: #2F2F41;
  padding: 12px;
  border-radius: 16px;
}

.react-bootstrap-table table {
  color: white;
  border-color: #2F2F41;
  border-bottom: 1px solid #727288;
}

.table-striped>tbody>tr:nth-of-type(odd)>*,
.table-hover>tbody>tr:hover>*,
.table-bordered> :not(caption)>*>* {
  color: white !important;
  text-align: center
}

.selection-cell,
.table thead th {
  text-align: center;
}

.sortable .text-filter {
  top: 145px;
  position: absolute;
  width: 420px;
  left: 355px;
  background: #2B2B3F;
  border: none;
}

.react-bootstrap-table-pagination button,
.react-bootstrap-table-pagination button:hover {
  background-color: #2B2B3F;
  color: white;
  border-color: #FF7506;
}

.react-bs-table-sizePerPage-dropdown .dropdown-menu {
  top: -200px;
  position: absolute;
}

.react-bootstrap-table-pagination-list .page-link {
  background: none;
  color: #F5F5FF;
  border: none;
  margin: 0 6px;
}

.react-bootstrap-table-pagination-list .active>.page-link,
.page-link.active,
.react-bootstrap-table-pagination-list .page-link:hover {
  background: rgba(255, 117, 6, 0.5);
  border-radius: 50%;
  color: white;
}

.tab-setting,
.tab-playlist {
  padding: 10px 50px;
}

.tab-setting .nav-tabs {
  border-bottom: none;
  /* max-width: 320px; */
  display: flex;
  /* justify-content: center; */
}

#noanim-tab-example-tab-home {
  color: white;
  width: 270px;
  border-radius: 40px;
}

#noanim-tab-example-tab-profile {
  color: white;
  width: 270px;
  border-radius: 40px;
}

.nav-tabs .nav-link {
  width: 123px;
  border: 1px solid #B65100 !important;
  padding: 0rem 1rem !important;
  height: 45px;
}

.nav-link:hover {
  z-index: -1;
}

.nav-tabs .nav-item {
  width: 220px;
}

.nav-tabs .nav-link.active {
  width: 130px;
  background-color: #B65100 !important;
  position: absolute;
  z-index: 1;
}

/* manage table 2 */
.manage-tab-table2 {
  left: 300px;
}

.MuiBox-root,
.MuiTableCell-root,
.MuiToolbar-root {
  background: rgba(47, 47, 65, 0.7) !important;
  color: #FFFFFF !important
}

.MuiBox-root .MuiFormControlLabel-root .MuiTypography-root {
  color: #000;
  background: none;
}

.MuiIconButton-root,
.MuiInputBase-root,
.MuiInputBase-root .MuiInputBase-inputAdornedStart,
.MuiInputBase-root .MuiTablePagination-select,
.MuiTablePagination-selectIcon,
.MuiPaper-root .MuiTypography-root {
  color: #FFFFFF !important
}

.MuiBox-root {
  background: rgba(47, 47, 65, 0.7) !important;
  color: white !important;
  border-radius: 5px;
}

.MuiBox-root:nth-child(1) {
  background: none !important;
}

.MuiList-root {
  background: darkgray;
}

.MuiPaper-root {
  background: rgba(47, 47, 65, 0.7) !important;
}

.MuiTableSortLabel-icon {
  font-size: 15px !important;
  margin: 0px 0 3px 0;
}

.Mui-TableHeadCell-Content,
.Mui-TableHeadCell-Content-Actions {
  margin: -2px 0 0px 0;
}

.Mui-TableHeadCell-Content-Labels,
.Mui-TableHeadCell-Content-Wrapper,
.Mui-TableHeadCell-Content,
.Mui-TableHeadCell-Content-Actions,
.MuiList-root .MuiMenuItem-root .MuiBox-root {
  background: none !important;
}

.MuiButtonBase-root,
.MuiTableSortLabel-icon {
  opacity: 1 !important;
}

.MuiDialogContent-root,
.MuiTypography-root,
.MuiDialogActions-root {
  background: white;
  overflow: reveal;
}

.MuiDialogContent-root {
  padding-top: 10px !important;
}

.MuiOutlinedInput-input,
.MuiInputBase-input {
  color: #000 !important;
}

/* table playlist */
.MuiTypography-root {
  background: none !important
}

/* header nav */
.header-nav_inside {
  display: flex;
  justify-content: end;
  ;
}

.header-nav_inside-info {
  margin: 0 20px 0 0;
}

.header-nav_inside-info img {
  height: 70px;
  width: 70px;
  margin: 10px 5px 0 0;
  padding: 10px;
  border-radius: 50%;
}

.header-nav_inside-info span a {
  color: white;
  flex-direction: column;
  display: inline-flex;
}

.storage_content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  padding: 10px;
}

.storage_content .storage_content-container {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.storage_content-card {
  text-align: center;
  padding: 30px 20px 0 20px !important;
  background-color: #1f1f33 !important;
}

.storage_content-card .card {
  align-items: center;
}

.storage_content-card .storage_content-card-body {
  margin: 10px;
}

.storage_content-card .storage_content-card-img {
  width: 120px;
  height: 120px;
  align-self: center;
  margin: 10px;
}

.storage_content-card .storage_content-card-title {
  color: white;
  font-size: 13px;
}

.storage_content-card-body span {
  padding: 5px 10px;
  border: 1px solid #727288;
  border-radius: 10px;
}